<div>
    <h3>Hello {{ name }} !</h3>
    <p>You can reset your password by clicking the follow link. It expires after 1 hour :</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>See you soon.</p>
</div>